.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hourly-text {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.line-row {
  width: 100%;
  height: 1px;
  border-top: 2px solid white;
}

.hourly-icon {
  width: 45px;
  height: 45px;
}

.hourly-forecasts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.hourly-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourly,
.hourly-celsius {
  font-size: 1.6rem;
}

.line-col {
  height: 91px;
  border-left: 1px solid white;
}
